.App {
  background-color: #fff;
  text-align-last: center;  
  border-radius: 15px;
  box-shadow: 0, 0, 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  border: 1px solid black;
  transition: transform 0.2s;
}
